<!DOCTYPE html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Genres (<%= genres.length %>)</h1>
    <div>
        <ul>
        <% for (let i = 0; i < genres.length; i++) { %>
            <li>
                <a href="/genres/<%= genres[i].id %>"><%= genres[i].name %></a>
                <form action="/genres/<%= genres[i].id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
            </li>
        <% } %>
        </ul>
    </div>
    <a href="/genres/new"><button>+</button></a>
</body>